*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #9D8189;
    text-align: center;
}
h1{
    font-size: 50px;
    margin-top: 20px;
}
.container{
    height: 750px;
    width: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.game{
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: aliceblue; */

}
.box{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0,0,0.5);
    font-size: 120px;
    background-color: #FFE5D9;
    color: #F4ACB7;
    
    
}
#resetbtn{
    padding: 25px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: #D8E2DC;
    font-weight: bold;
    
}
#newbtn{
    padding: 25px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: #D8E2DC;
    font-weight: bold;
}
#msg{
    font-size: 80px;
    color: #FFE5D9;
    
}
.msg-contanier{
    height: 200px;
    width: 1900px;
    text-align: center;
    /* background-color: red; */
}
.hide{
    display: none;
}